@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="User/ToDoList">See Task List</a>
    <a href="User/AddTask">Add a task</a>
</div>
